 /* @import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');  */

@font-face{
    font-family:Orbitron;
    src:url('font/Orbitron.ttf');
}
*{
padding:0;
margin:0;
box-sizing:border-box;
} 
body{
    background-image:url("img/bg-lanka.png");
    background-color:black;
    /* background-repeat: no-repeat; */
    background-position-x:200px;;
    background-position-y :80px;
}
.container{
    background-color:#ccc;
    width:400px;
    height:175px;
    margin: 100px auto;
    position:relative;
    padding:30px;
    
}
.badge{
    text-align:center;
    background-color:#43Ac63;
    color:white;
    font-weight:bold;
    width:123px;
    padding:5px 10px;
    position:absolute;
    top:-12px;
    left:138px;
}
.clock{
    background-color:#EBEBEB;
    /* text-align:center; */
    height:100%;
    width:auto; 
    font-size:45px; 
     padding-top:25px;
     padding-left:40px;
    font-family: 'Orbitron', sans-serif;
    border-radius:5px;
} 
/* date */
.date-banner{
    position:relative;
    padding-top:10%;
    padding-left:40%;
    /* padding-bottom:200px; */
    color:black;
}
.date-details{
    font-size:50

}